In [1]:
import pandas as pd

In [3]:

er.head()

   Unnamed: 0    original      Malith        Abhaya
0           0    විතානගේ     චිතානගේ       විතානගේ
1           1      මැල්ලව     ඞමැල්ලව      ේශමැල්ලව
2           2      සිල්වා      සිල්වා        සිල්වා
3           3       සිසිර       සිසිර         සිසිර
4           4  ප්‍රනාන්දු  ප්‍රනාන්දු  ප්‍රනාන්ද්‍ර

In [10]:
for n in range(7,9):
    er =pd.read_csv(f'OCR errors training - {n}.csv')
    er["Malith"] = er["Malith"].str.replace('\d+', '')
    er["Abhaya"] = er["Abhaya"].str.replace('\d+', '')
    #er.drop('Unnamed: 0',axis=1,inplace=True)
    er.to_csv(f'OCR errors training - {n}.csv',encoding='utf-8-sig',index=False)

C:\Users\Yasith\AppData\Local\Temp/ipykernel_1764/1986776957.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  er["Malith"] = er["Malith"].str.replace('\d+', '')
C:\Users\Yasith\AppData\Local\Temp/ipykernel_1764/1986776957.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  er["Abhaya"] = er["Abhaya"].str.replace('\d+', '')